:root {
  --color: white;
  --H2-color: #2D314E;
  --Text-color: #B4B5B9;
  --Background: linear-gradient(90deg, rgba(42, 186, 204, 1) 0%, rgba(87, 199, 133, 1) 100%);
  --Background-hover: linear-gradient(90deg, rgba(42, 186, 204, 0.66) 0%, rgba(87, 199, 133, 0.56) 100%);
  --Border-radius: 50px;
  --Padding: 10px;
  --Padding-btn: 15px 30px;
}

body {
  width: 1200px;
  margin: 0 auto;
  font-family: "DMSans", sans-serif;
}

/* فونت پروژه */
@font-face {
  font-family: "DMSans";
  src: url("/fonts/static/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* --------------استایل قالب اصلی هدر-------------- */
/* -------هدر دسکتاپ------ */
.header-desktop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color);
  z-index: 11;
}

/* عدم نمایش هدر موبایل در دسکتاپ */
.header-mobile {
  display: none;
  
}

/* ----- ریسپانسیو هدر موبایل----- */
@media (max-width: 768px) {
  body {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
  }

  .header-desktop {
    display: none;
  }

  .header-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    
  }
}

/* استایل منو نسخه دسکتاپ */
.header__menu a {
  text-decoration: none;
  color: var(--Text-color);
  cursor: pointer;
}

.header__menu a:hover {
  color: var(--H2-color);
  transition: all 0.3s ease;
}

.header__menu li {
  position: relative;
  padding: var(--padding);
  display: inline-block;
  padding: var(--Padding);
}

.header__menu li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 4px;
  background: var(--Background);
  transition: width 0.3s ease;
}

.header__menu li:hover::after {
  width: 100%;
}

/* استایل دکمه هدر نسخه دسکتاپ */
.header__btn button {
  padding: var(--Padding-btn);
  border-radius: var(--Border-radius);
  color: var(--color);
  background: var(--Background);
  border: none;
}

.header__btn button:hover {
  background: var(--Background-hover);
  cursor: pointer;
}

/* -----------استایل دهی بدنه اصلی لندینگ پیج-------------- */
/* استیایل سکشن اول بدنه موکاپ موبایل */
.hero-section {
  display: flex;
  flex-direction: row;
  background-color: #FAFAFA;
}

.hero-section__img {
  display: flex;
  flex-direction: row;
  background: url(/images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  
  
}

.hero-section__img--mockup {
  width: 500px;

}

.hero-section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* سکشن ویژگی های سایت باکس آیکن */
.features__box-icon {
  display: flex;
}

/* سکشن بلاگ صفحه اصلی */
.blog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.blog__list--post>img {
  width: 200px;
}

/* --------------------استایل فوتر سایت------------------- */
footer {
  display: flex;
  justify-content: space-between;
  background-color: #2D314E;
  color: white;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-list li {
  list-style: none;
}

.footer-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

/* ----------استایل دهی بدنه در نسخه موبایل------------- */
@media (max-width: 768px) {
  .blog__list {
    display: flex;
    flex-direction: column;
  }

  .footer,
  .footer-btn,
  .hero-section,
  .features__box-icon,
  .features__title,
  .features__box-icon--single,
  .hero-section__content {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    text-align: center;
  }

  .hero-section__img {
    order: 1;
  }

  .hero-section__content {
    order: 2;
  }
}

/* منو همبرگری موبایل */
.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  position: relative;
  z-index: 1001;
  border-bottom: 1px solid #eee;
}

/* دکمه همبرگری */
.menu-toggle {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

/* منو */
.mobile-menu {
  position: absolute;
  top: 60px;
  right: 45px;
  width: 80%;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 1000;
  border-radius: 5px;
}

.mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-menu li {
  padding: 14px 20px;
  text-align: center;
  font-weight: bolder;
}

.mobile-menu a {
  text-decoration: none;
  color: var(--H2-color);
}

/* حالت فعال */
.mobile-menu.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

/* لایه تیره برای بستن با کلیک */
.overlay {
  position: fixed;
  inset: 0;
  background: linear-gradient(183deg,rgba(9, 9, 121, 0.6) 11%, rgba(255, 255, 255, 0.3) 100%);  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 999;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}