:root {
  --color: white;
  --H2-color: #2D314E;
  --Text-color: #B4B5B9;
  --Background: linear-gradient(90deg, rgba(42, 186, 204, 1) 0%, rgba(87, 199, 133, 1) 100%);
  --Background-hover: linear-gradient(90deg, rgba(42, 186, 204, 0.66) 0%, rgba(87, 199, 133, 0.56) 100%);
  --Border-radius: 50px;
  --Padding-btn: 15px 30px;
  --Padding-layout: clamp(16px, 4vw, 32px);
}

body {
  width: 100%;
  font-family: "DMSans", sans-serif;
  margin: 0 auto;
}

/* فونت پروژه */
@font-face {
  font-family: "DMSans";
  src: url("/fonts/static/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@media (min-width: 768px){
main , footer , header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
}

/* --------------استایل قالب اصلی هدر-------------- */
/* -------هدر دسکتاپ------ */
.header-desktop {
  width: 100%;
  max-width: 1200px;
  display: flex;
  padding: var(--Padding-layout);
  justify-content: space-between;
  align-items: center;
  background-color: var(--color);
  
}

/* عدم نمایش هدر موبایل در دسکتاپ */
.header-mobile {
  display: none;
}

/* ----- ریسپانسیو هدر موبایل----- */
@media (max-width: 768px) {
  body {
    width: 100%;
    box-sizing: border-box;
    /* padding: 0 15px; */
  }

  .header-desktop {
    display: none;
  }

  .header-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--Padding-layout);

  }
}

/* استایل منو نسخه دسکتاپ */
.header__menu a {
  text-decoration: none;
  color: var(--Text-color);
  cursor: pointer;
}

.header__menu a:hover {
  color: var(--H2-color);
  transition: all 0.3s ease;
}

.header__menu li {
  position: relative;
  padding: 20px;
  display: inline-block;
}

.header__menu li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 4px;
  background: var(--Background);
  transition: width 0.3s ease;
}

.header__menu li:hover::after {
  width: 100%;
}

/* استایل دکمه در تمام لندینگ */
button {
  padding: var(--Padding-btn);
  border-radius: var(--Border-radius);
  color: var(--color);
  background: var(--Background);
  border: none;
}

button:hover {
  background: var(--Background-hover);
  cursor: pointer;
}

/* -----------استایل دهی بدنه اصلی لندینگ پیج-------------- */

/* استیایل هیرو سکشن موکاپ موبایل */
.hero-section {
  width: 100%;
  max-width: 1200px;
  display: flex;
  background-color: #FAFAFA;
  padding: var(--Padding-layout);
  background-image: url(/images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-size: 700px;
  background-position: 125% 10px;
}

.hero-section__img {
  display: flex;
  
}

.hero-section__img--mockup {
  width: 100%;
  margin-bottom: -130px;
  z-index: 100;
}

/* -----هیرو سکشن بخش محتوا--- */
.hero-section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-section__content--text {
  width: 70%;
}

.hero-section__content--text>h2 {
  font-size: 3rem;
  color: var(--H2-color);
  font-weight: 500;
}

.hero-section__content--text>p {
  color: var(--Text-color);
}

/* --------استایل هیرو سکشن نسخه موبایل------- */
@media (max-width: 768px) {
  .hero-section{
    width: 100%;
    background: #FAFAFA url(/images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: 20% -40%;
    overflow: hidden;

  }
  .hero-section__img {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
   
  }

  .hero-section__img--mockup {
    width: 100%;
    transform: translateY(-50px);
  }

  .hero-section__content--text {
    width: 100%;
    padding-bottom: 30px;

  }

  .hero-section__content--text>h2 {
    font-size: 2.5rem;
    color: var(--H2-color);
    font-weight: 500;
  }
}
 
/* =====================سکشن آیکن باکس ویژگی های سایت=========================== */
.features{
  width: 100%;
  max-width: 1200px;
  background-color: #F4F5F7;
  padding: var(--Padding-layout);
}
.features__title h2{
  font-size: 2rem;
  font-weight: 500;
  color: var(--H2-color);
}
.features__title p{
  color: var(--Text-color);
}
.features__box-icon {
  margin-top: 50px;
  display: flex;
  gap: 50px;
}
/* .features__box-icon--single{
  display: flex;
        flex-direction: column;
        align-items: center;
} */
.features__box-icon--single img{
  width: 100px;
  margin: 0 auto;
}
.features__box-icon--single h3{
 font-size: 1.5rem;
  font-weight: 500;
  color: var(--H2-color);
}
.features__box-icon--single p{
  color: var(--Text-color);
}

/* -----------سکشن بلاگ صفحه اصلی----------------- */
.blog{
  width: 100%;
  max-width: 1200px;
  padding: var(--Padding-layout);
  background-color: #FAFAFA;
}
.blog h2{
  font-size: 2rem;
  font-weight: 500;
  color: var(--H2-color);
}
.blog__list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}
.blog__list--post{
  background-color: #ffffff;
  border-radius: 10px;
}

.blog__list--post>img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
}
.blog__list--post-content{
width: 100%;
max-width: 85%;
margin: 0 auto;
}
.blog__list--post-content h3{
  font-size: 17px;
  font-weight: 600;
  color: var(--H2-color);
}
.blog__list--post-content h3:hover{
 color: rgb(98, 199, 165);
 cursor: pointer;
}
.blog__list--post-content p{
 color: var(--Text-color);
}

/* --------------------استایل فوتر سایت------------------- */
.footer {
  width: 100%;
  max-width: 1200px;
  padding: var(--Padding-layout);
  display: flex;
  justify-content: space-between;
  background-color: #2D314E;
  color: white;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}
.logo{
  width: 100%;
  max-width: 50%;
  margin: 0 auto;
}

.footer-logo__socialmedia{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.footer-list a {
  text-decoration: none;
  color: var(--Text-color);
  cursor: pointer;
  
}
.footer-list li{
  list-style: none;
  margin: 20px 0;
}
.footer-list a:hover{
  color: rgb(98, 199, 165);
}
.footer-list ul{
  padding-inline-start: 0;
}
.footer-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-btn p{
  color: var(--Text-color);
}

/* ---------استایل فوتر در نسخه موبایل--------- */
@media (max-width: 768px){
  .footer-btn {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  
}
}

/* ----------استایل دهی بدنه در نسخه موبایل------------- */
@media (max-width: 768px) {
  .blog__list {
    display: flex;
    flex-direction: column;
  }

  .footer,
  .footer-btn,
  .hero-section,
  .features__box-icon,
  .features__title,
  .features__box-icon--single,
  .hero-section__content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .hero-section__img {
    order: 1;
  }

  .hero-section__content {
    order: 2;
  }
}

/* منو همبرگری موبایل */
.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  position: relative;
  z-index: 1001;
  border-bottom: 1px solid #eee;
}

/* دکمه همبرگری */
.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

/* منو */
.mobile-menu {
  position: absolute;
  top: 60px;
  right: 45px;
  width: 80%;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 1000;
  border-radius: 5px;
}

.mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-menu li {
  padding: 14px 20px;
  text-align: center;
  font-weight: bolder;
}

.mobile-menu a {
  text-decoration: none;
  color: var(--H2-color);
}

/* حالت فعال */
.mobile-menu.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

/* لایه تیره برای بستن با کلیک */
.overlay {
  position: fixed;
  inset: 0;
  background: linear-gradient(183deg, rgba(9, 9, 121, 0.6) 11%, rgba(255, 255, 255, 0.3) 100%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 999;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}